.mycontainer{
	background-image: url('https://th.bing.com/th/id/R.0f75cc2d8ce258f81836f0f2f6ba2f31?rik=ZBwVici5r9WhRg&pid=ImgRaw&r=0');
	color:  #8ee08e;
	border: 1px solid #33a4d1;
	padding: 3em 1rem;
	font-family: "Helvetica";
	font-weight: 400;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
 table, th, td {
	
	border: 2px solid black;
	padding: 440px;
	border-collapse: collapse;
	border-radius: ;
	text-align: center;
	padding: 1rem 2rem;
  }
  
  tr:nth-child(even) {background-color: #24ce8d;}
  table {
	width: 100%;
  }
  

h5 {

	color: rgb(136, 214, 105);
	
}


  #customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	
  }
  
 

h1 {
	text-align: center;
	color: #04AA6D;
	font-style: italic;
}



  

